<a href="https://colab.research.google.com/github/joaoramos23/Processamento-e-analise-de-dados/blob/main/Processamento_e_an%C3%A1lise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Processamento e análise de dados

In [231]:
import csv

In [232]:
f = open('alunos.csv', 'r', encoding='utf-8')

leitor = csv.reader(f, delimiter=";", lineterminator="\n")

planilha = []

for linha in leitor:
  planilha.append(linha)

f.close()

planilha

[['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4'],
 ['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6'],
 ['110212', 'Ana Beatriz', '20', '7', '7', '7', '8'],
 ['110218', 'Carlos Vernes', '17', '7', '7', '7', '7'],
 ['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10'],
 ['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7'],
 ['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8'],
 ['110301', 'Joao Galo', '20', '5', '6.5', '7', '5'],
 ['110263', 'José Valente', '20', '10', '10', '10', '10'],
 ['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10'],
 ['110236', 'Adriana Tavares', '20', '8', '8', '8', '8']]

In [233]:
with open('alunos.csv', 'r', encoding='utf-8') as f:
  planilha = [linha for linha in csv.reader(f, delimiter=';', lineterminator='\n')]

planilha

[['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4'],
 ['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6'],
 ['110212', 'Ana Beatriz', '20', '7', '7', '7', '8'],
 ['110218', 'Carlos Vernes', '17', '7', '7', '7', '7'],
 ['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10'],
 ['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7'],
 ['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8'],
 ['110301', 'Joao Galo', '20', '5', '6.5', '7', '5'],
 ['110263', 'José Valente', '20', '10', '10', '10', '10'],
 ['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10'],
 ['110236', 'Adriana Tavares', '20', '8', '8', '8', '8']]

In [234]:
# Encontrar indexs das colunas pelo nome, esses são as colunas que precisam ser tipo float.

lista_index = list()

for coluna in planilha[0]:
  if coluna in ['Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']:
    lista_index.append(planilha[0].index(coluna))

lista_index

[3, 4, 5, 6]

In [235]:
# Percorrer a lista e alterar os dados dos indexs anteriores para tipo float.

for linha in range(len(planilha)):
  for index in lista_index:
    if (linha != 0):
      planilha[linha][index] = float(planilha[linha][index])

In [236]:
# Encontrar indexs das colunas pelo nome, esses são as colunas que precisam ser tipo int.

lista_index = list()

for coluna in planilha[0]:
  if coluna in ['RA', 'Frequencia']:
    lista_index.append(planilha[0].index(coluna))

lista_index

[0, 2]

In [237]:
# Percorrer a lista e alterar os dados dos indexs anteriores para tipo int.

for linha in range(len(planilha)):
  for index in lista_index:
    if (linha != 0):
      planilha[linha][index] = int(planilha[linha][index])

In [238]:
planilha

[['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4'],
 [110201, 'Antonio Carlos', 20, 6.5, 8.5, 7.0, 6.0],
 [110212, 'Ana Beatriz', 20, 7.0, 7.0, 7.0, 8.0],
 [110218, 'Carlos Vernes', 17, 7.0, 7.0, 7.0, 7.0],
 [110307, 'Francisco Cunha', 20, 9.0, 8.5, 8.5, 10.0],
 [110275, 'Sandra Rosa', 15, 6.5, 7.5, 7.0, 7.0],
 [110281, 'Juliana Arruda', 18, 7.5, 7.0, 7.5, 8.0],
 [110301, 'Joao Galo', 20, 5.0, 6.5, 7.0, 5.0],
 [110263, 'José Valente', 20, 10.0, 10.0, 10.0, 10.0],
 [110271, 'Maria Ferreira', 19, 9.5, 8.0, 7.0, 10.0],
 [110236, 'Adriana Tavares', 20, 8.0, 8.0, 8.0, 8.0]]

In [239]:
[item[1] for item in planilha]

['Nome',
 'Antonio Carlos',
 'Ana Beatriz',
 'Carlos Vernes',
 'Francisco Cunha',
 'Sandra Rosa',
 'Juliana Arruda',
 'Joao Galo',
 'José Valente',
 'Maria Ferreira',
 'Adriana Tavares']

In [240]:
for item in planilha:
  print(item[1])

Nome
Antonio Carlos
Ana Beatriz
Carlos Vernes
Francisco Cunha
Sandra Rosa
Juliana Arruda
Joao Galo
José Valente
Maria Ferreira
Adriana Tavares

In [241]:
aluno = 'José Valente'
coluna = 'Nome'
coluna_notas = ['Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']


index_nome = planilha[0].index(coluna)

linha_nome = [linha[index_nome] for linha in planilha]

index_linha = linha_nome.index(aluno)

info_aluno = [notas for notas in planilha[index_linha]]

index_notas = [planilha[0].index(coluna) for coluna in coluna_notas]

notas = [planilha[index_linha][nota] for nota in index_notas]

media = sum(notas) / len(notas)

media

10.0

In [242]:
coluna_notas = ['Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']
nome_coluna = 'Média'

index_coluna_notas = [planilha[0].index(index_coluna) for index_coluna in coluna_notas]

planilha[0].append(nome_coluna)

for i,linha in enumerate(planilha):
  if(i >= 1):
    soma = sum([linha[indice] for indice in index_coluna_notas])
    media = soma / len(index_coluna_notas)
    planilha[i].append(media)

for linha in planilha:
  print(linha)

['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4', 'Média']
[110201, 'Antonio Carlos', 20, 6.5, 8.5, 7.0, 6.0, 7.0]
[110212, 'Ana Beatriz', 20, 7.0, 7.0, 7.0, 8.0, 7.25]
[110218, 'Carlos Vernes', 17, 7.0, 7.0, 7.0, 7.0, 7.0]
[110307, 'Francisco Cunha', 20, 9.0, 8.5, 8.5, 10.0, 9.0]
[110275, 'Sandra Rosa', 15, 6.5, 7.5, 7.0, 7.0, 7.0]
[110281, 'Juliana Arruda', 18, 7.5, 7.0, 7.5, 8.0, 7.5]
[110301, 'Joao Galo', 20, 5.0, 6.5, 7.0, 5.0, 5.875]
[110263, 'José Valente', 20, 10.0, 10.0, 10.0, 10.0, 10.0]
[110271, 'Maria Ferreira', 19, 9.5, 8.0, 7.0, 10.0, 8.625]
[110236, 'Adriana Tavares', 20, 8.0, 8.0, 8.0, 8.0, 8.0]