<a href="https://colab.research.google.com/github/joaoramos23/Processamento-e-analise-de-dados/blob/main/Processamento_e_an%C3%A1lise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Processamento e análise de dados

In [60]:
import csv

In [61]:
f = open('alunos.csv', 'r', encoding='utf-8')

leitor = csv.reader(f, delimiter=";", lineterminator="\n")

planilha = []

for linha in leitor:
  planilha.append(linha)

f.close()

planilha

[['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4'],
 ['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6'],
 ['110212', 'Ana Beatriz', '20', '7', '7', '7', '8'],
 ['110218', 'Carlos Vernes', '17', '7', '7', '7', '7'],
 ['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10'],
 ['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7'],
 ['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8'],
 ['110301', 'Joao Galo', '20', '5', '6.5', '7', '5'],
 ['110263', 'José Valente', '20', '10', '10', '10', '10'],
 ['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10'],
 ['110236', 'Adriana Tavares', '20', '8', '8', '8', '8']]

In [67]:
with open('alunos.csv', 'r', encoding='utf-8') as f:
  planilha = [linha for linha in csv.reader(f, delimiter=';', lineterminator='\n')]

planilha

[['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4'],
 ['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6'],
 ['110212', 'Ana Beatriz', '20', '7', '7', '7', '8'],
 ['110218', 'Carlos Vernes', '17', '7', '7', '7', '7'],
 ['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10'],
 ['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7'],
 ['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8'],
 ['110301', 'Joao Galo', '20', '5', '6.5', '7', '5'],
 ['110263', 'José Valente', '20', '10', '10', '10', '10'],
 ['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10'],
 ['110236', 'Adriana Tavares', '20', '8', '8', '8', '8']]

In [54]:
# Encontrar indexs das colunas pelo nome, esses são as colunas que precisam ser tipo float.

lista_index = list()

for coluna in planilha[0]:
  if coluna in ['Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']:
    lista_index.append(planilha[0].index(coluna))

lista_index

[3, 4, 5, 6]

In [57]:
# Encontrar indexs das colunas pelo nome, esses são as colunas que precisam ser tipo int.

lista_index = list()

for coluna in planilha[0]:
  if coluna in ['RA', 'Frequencia']:
    lista_index.append(planilha[0].index(coluna))

lista_index

[0, 2]

In [55]:
# Percorrer a lista e alterar os dados dos indexs anteriores para tipo float.

for linha in range(len(planilha)):
  for index in lista_index:
    if (linha != 0):
      planilha[linha][index] = float(planilha[linha][index])

In [58]:
# Percorrer a lista e alterar os dados dos indexs anteriores para tipo int.

for linha in range(len(planilha)):
  for index in lista_index:
    if (linha != 0):
      planilha[linha][index] = int(planilha[linha][index])

In [59]:
planilha

[['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4'],
 [110201, 'Antonio Carlos', 20, 6.5, 8.5, 7.0, 6.0],
 [110212, 'Ana Beatriz', 20, 7.0, 7.0, 7.0, 8.0],
 [110218, 'Carlos Vernes', 17, 7.0, 7.0, 7.0, 7.0],
 [110307, 'Francisco Cunha', 20, 9.0, 8.5, 8.5, 10.0],
 [110275, 'Sandra Rosa', 15, 6.5, 7.5, 7.0, 7.0],
 [110281, 'Juliana Arruda', 18, 7.5, 7.0, 7.5, 8.0],
 [110301, 'Joao Galo', 20, 5.0, 6.5, 7.0, 5.0],
 [110263, 'José Valente', 20, 10.0, 10.0, 10.0, 10.0],
 [110271, 'Maria Ferreira', 19, 9.5, 8.0, 7.0, 10.0],
 [110236, 'Adriana Tavares', 20, 8.0, 8.0, 8.0, 8.0]]

In [68]:
[item[1] for item in planilha]

['Nome',
 'Antonio Carlos',
 'Ana Beatriz',
 'Carlos Vernes',
 'Francisco Cunha',
 'Sandra Rosa',
 'Juliana Arruda',
 'Joao Galo',
 'José Valente',
 'Maria Ferreira',
 'Adriana Tavares']

In [69]:
for item in planilha:
  print(item[1])

Nome
Antonio Carlos
Ana Beatriz
Carlos Vernes
Francisco Cunha
Sandra Rosa
Juliana Arruda
Joao Galo
José Valente
Maria Ferreira
Adriana Tavares

['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6']